body{
	background-image: url('https://img.freepik.com/premium-photo/black-friday-clothing-industry-concept-pink-background-flat-lay-with-pink-clothes-hanger-white-blouse-dress-with-heart-shape-hanger_371428-1622.jpg');
	width: 100%;
	height: 500px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}